/* simple reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* grid-based layout */

body {
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    display: grid;
    grid-template: repeat(10,1fr) / repeat(10,1fr);
}

header {
    min-height: 90px;
    grid-area: 1 / 1 / span 1 / span 10;
    background: linear-gradient(rgb(14, 85, 97), rgb(59, 182, 204));
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-area {
    grid-area: 2 / 1 / span 9 / span 3;
    min-width: 400px;
    background: linear-gradient(rgb(83, 199, 219), rgb(14, 85, 97));
    font-family: 'Varela Round', sans-serif;
}

.task-area {
    grid-area: 2 / 4 / span 9 / span 7;
    min-width: 600px;
    background: linear-gradient(white,rgb(94, 216, 238));
    font-family: 'Nunito', sans-serif;
}

.project-area, .task-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* buttons and forms */

.create-project, .create-task, .project-form, .task-form {
    width: 300px;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-form, .task-form {
    display: none;
}

.create-project, .project-form {
    background-color: white;
    color: rgb(34, 139, 158);
    font-size: 20px;
}

.project-buttons, .task-buttons {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
}

.project-buttons button {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(34, 139, 158);
    color: white;
}

.project-buttons button:hover, .task-buttons button:hover,
.create-project:hover, .create-task:hover,
.project-item-buttons div:hover, .task-item-buttons div:hover,
.edit-buttons div:hover {
    border: 3px solid rgba(0, 224, 112, 0.842);
}

.project-buttons button:active, .task-buttons button:active,
.create-project:active, .create-task:active,
.project-item-buttons div:active, .task-item-buttons div:active,
.edit-buttons div:active {
    border: 3px solid gold;
}

.create-task, .task-form {
    background-color: rgb(61, 184, 206);
    color: white;
    font-size: 20px;
}

.task-buttons button {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    color: rgb(61, 184, 206);
}

input {
    width: 90%;
    height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

/* content holders and project and task items */

.project-list, .task-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.item-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 3px;
    margin-top: 15px;
}

.project-item, .task-item {
    width: 100%;
    height: 80px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.project-data, .project-item-buttons, .task-data, .task-item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-data, .task-data, .edit-menu {
    width: 65%;
}

.project-item-buttons, .task-item-buttons, .edit-buttons {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-item-buttons div, .task-item-buttons div, .edit-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.project-item-buttons div {
    background-color: rgb(34, 139, 158);
    color: white;
}

.task-item-buttons div {
    background-color: white;
    color: rgb(34, 139, 158);
}

.edit-menu {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 10px;
}

.edit-area, .edit-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}